[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psutil = "*"
smbus2 = "*"
bme280 = "*"
paho-mqtt = "*"

[requires]
python_version = "3.6"

[scripts]
listen = "python3 listener.py"
publish = "python3 publisher.py"