[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pymongo = "*"
dnspython = "*"
paho-mqtt = "*"
psutil = "*"
djangorestframework = "*"
mongoengine = "*"
djongo = "*"

[requires]
python_version = "3.6"

[scripts]
server = "python3 manage.py runserver"
migrate = "python3 manage.py migrate"
makemigrations = "python3 manage.py makemigrations"
